#background{
	margin-right:170px;
	width: 150%;
	 margin-left:170px;
   }
   label {
	 position: absolute;
	 top: 60%;
	 left: 62%;
	 transform: translate(-50%, -50%);
	 font-family:monospace;
	 font-weight:bold;
	 width:30%;
	 font-size:50px;
	 background-color:white;
	 text-align:center;
	 border:black 8px solid;
	 border-radius:100px;
   }
   input{
   position: absolute;
	 top: 70%;
	 left: 62%;
	 transform: translate(-50%, -50%);
	 font-family:monospace;
	 font-weight:bold;
   height:40px;
	 width:30%;
	 font-size:50px;
	 background-color:white;
	 text-align:center;
	 border:black 3px solid;
	 border-radius:100px;
   
   }
   ::placeholder {
	 color: white;
	 font-size: 20px;
	 text-transform: uppercase;
   }
   #logIn{
   position: absolute;
	 top: 80%;
	 left: 62%;
	 transform: translate(-50%, -50%);
	 font-family:monospace;
	 font-weight:bold;
   height:50px;
	 width:20%;
	 font-size:190%;
	 background-color:lightblue;
	 text-align:center;
	 border:black 3px solid;
	 border-radius:100px;
   }